:root{
    --primario: #1a1a1a;
    --secundario: #db0303;
    --blanco: #ffffff;
    --primarioOscuro: #111111;
    --highlight: rgba(255,255,255,0.1);
    --angle: 0deg;
    --primarioLighter: #3b3b3b;
    --shadow-s: rgba(0,0,0,0.1);
}



*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    overflow-x: none;
    
}

a{
    text-decoration: none;
    color: inherit;
}



body{
    
    background-color: var(--primarioOscuro);
    color: var(--blanco);
    overflow-x: hidden;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}



.navbarBtn::after{
    
    transform: translate(-50%, -50%);
    content: '';
  position: absolute;
  width: 25px;
  height: 20px;
  left: 0;
  top: 25%;
  background: var(--secundario);
  filter: blur(8px);
  border-radius: 999px;
  z-index: -1;

  opacity: 0;                  
  transform: scale(0.8);        
  transition: opacity 1s ease, transform 0.5s ease; 
  

}


.navbarBtn{
    position: relative;
    z-index: 0;
    color: var(--blanco);
    background-color: var(--highlight);
    backdrop-filter: blur(20px);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border-bottom: 2px solid var(--highlight);
    border-top: 2px solid var(--highlight);
    transition:  0.5s cubic-bezier(0.61, 0.01, 0, 1.37);/*Inspect tool animation in chrome*/
    font-size: 1.2rem;
    cursor: pointer;
}

.navbarBtn:nth-child(1){
    width: 50px;
}



.navbarBtn:hover {
    box-shadow: 0 10px 2px -2px var(--shadow-s);
    letter-spacing: 3px;
    color: var(--blanco);
    
    
}

.navIcon{
    
    display: none;
}



.navbar {
    
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--primarioOscuro);
    opacity: 0.95;
    backdrop-filter: blur(0.15rem);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 1rem 2rem;
    border-bottom: outset 2px var(--secundario);
}
.navbarBtnImg{

    align-self: center;
    width: 45px;
    height: auto;
    border-radius: 50%;
    height: 45px;
   


}
.navbarBtnImg img{
    width: 45px;
    opacity: 1;
    height: auto;
    border-radius: 50%;
     transition: all 0.5s ease;
     position: relative;
    
}

.navbarBtnImg::after{
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle) at 50% 50%, #c31432, #659999, #c31432);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    filter: blur(0px);
    z-index: -1;
    transform: translate(-44.75px); /*weird but idk, it just works*/
    opacity: 0;
    transition: all 0.3s ease;
    animation: 3s spin linear infinite;
}

.navbarBtnImg:hover::after{

    opacity: 1;
    
    transform: scale(1.1) translate(-40.5px) ;
}

.navbarBtnImg::before{
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle) at 50% 50%, #c31432, #659999, #c31432);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    filter: blur(0px);
    z-index: -1;
    animation: 3s spin linear infinite;
    
    opacity: 0;
    filter: blur(8px);
    transition: all 0.3s ease;
}

.navbarBtnImg:hover::before{

    opacity: 1;
    
    transform: scale(1.2) ;
}

.navbarBtnImg:hover img{
    opacity: 1;

}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes spin{
    from {
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/*main*/

.main {
    /*border: solid 2px var(--secundario);*/
    gap: 2vh;
    padding: 10% 0 10% 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
    align-items: center;
    justify-items: center;
    border-radius: 0 0 25px 25px;
    border-bottom: solid 2px var(--highlight);
}

.main h1{
    
    font-size: 15vh;
    line-height: 1;
}

.main h3 {
    margin-top: 2%;
    text-align: left;
    font-size: 4vh;
    color: var(--primario);
    letter-spacing: 5px;
    -webkit-text-stroke: 0.35px #ffffff;
    margin-bottom: 2vh;
}

.main h5{
    
    font-size: 2vh;

    color: var(--secundario);
}

.mainImage{
    position: relative;
    filter: saturate(300%) hue-rotate(250deg) contrast(7777%);
}

@media (max-width: 768px){
    .main{
        grid-template-columns: 1fr;
        padding: 10% 5% 10% 5%;
        gap: 5vh;
    }

    .main h1{
        font-size: 10vh;
        text-align: center;
    }

    .main h3{
        font-size:5vh;
        text-align: center;
        -webkit-text-stroke: 0.25px #ffffff;
    }

    .main h5{
        font-size: 2vh;
        text-align: center;
    }

    .mainImage img{
        width: 150px;
    }
    .navbarBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }

    .navIcon{
        display: block;
    }

    .navbarBtn:hover{
        letter-spacing: normal;
        animation: popBounce 0.8s cubic-bezier(0, 1.39, 0.42, 1.65) forwards;
        background-color: rgba(255, 92, 92, 0.232);
    }

    @keyframes popBounce {
    0% { padding: 0.25rem 0.5rem; }
    60% { padding: 0.25rem 2rem; }
    100% { padding: 0.25rem 0.5rem; }
}

    .navbarBtn::after{
        display: none;
        content: '';
        position: absolute;
        background-image: conic-gradient(from var(--angle) at 50% 50%, #c31432, #659999, #c31432);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        filter: blur(0px);
        z-index: -1;
        transform: translate(-44.75px); /*weird but idk, it just works*/
        opacity: 1;
        transition: all 0.3s ease;
        animation: 3s spin linear infinite;
    
    }
}
/*projects*/

.projects h1{
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2.5px;
    padding : 5% 0 0 0;
     text-align: center;
}

.projectsWrapper{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    padding: 5% 10% 10% 10%;
}

.projectcard {
    box-shadow: 0 0 5px var(--secundario);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: smaller;
    position: relative;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    background-color: var(--highlight);
    backdrop-filter: blur(150px);
    grid-column: 1/2;
    border-top: 3px solid var(--highlight);
    border-bottom: 3px solid var(--highlight);
    
    transition: all 0.30s cubic-bezier(0.42, 0, 0.15, 1.32); /*Got this animation using google chrome's inspect tool, it looks nice*/
    cursor: pointer;
}

.projectcard::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    background-color: var(--secundario);
    z-index: -1;
    filter: blur(1.5rem);
    transition: all 0.5s ease;
    opacity: 0.1;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2.5s infinite;
}
@keyframes pulse{
    from {
        opacity: 0.1;
    }
    15% {
        opacity: 0.35;
    }


    to {
        opacity: 0.1;
    }
}


.projectcard:hover::after {
    opacity: 0.2;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 25px;
}

.projectcard:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2;
}
.projectcard:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3;
}
.projectcard:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4;
}
.projectcard:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5;
}

.projectcard:hover {
    
    width: 350px;
    height: 275px;

}


.cardContent{
    padding: 4%;
    text-align: center;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.cardContent h2{

    
    
    font-family: 'DM Sans', sans-serif;
    margin-top: 10px;
    font-size: 1.25rem;
    color: var(--blanco);
    text-decoration: none;
    letter-spacing: 2px;
    opacity: 0.5;
    transition: all 0.5s ease;
    
}

.cardContent .icon{
    font-size: 4rem;
    color: var(--blanco);
    opacity: 0.7;
    transition: all 0.5s ease;
    margin-bottom: 10px;
}


.cardContent img{

    align-self: center;
    justify-self: center;
    border-radius: 15px;
    opacity: 0;
    width: 0%;
    height: auto;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}
.projectcard:hover .cardContent img{
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 55%;
    height: auto;
}



.projectcard:hover .cardContent h2{
    opacity: 1;

}

.projectcard:hover .cardContent .icon{
    opacity: 0;
    font-size: 0rem;
    margin-bottom: 0px;
}

@media (max-width: 768px){
    .projectsWrapper{
        grid-template-columns: 1fr;
        padding: 5% 5% 10% 5%;
        gap: 20px;
    }

    .projectcard{
        grid-column: 1/2 !important;
        grid-row: auto !important;
        height: 150px;
        width: 150px;
        

    }

    .projectcard:hover {
        
        box-shadow: 0 0 10px var(--secundario);
        width: 45%;
        transform: scale(1.15 , 1.05);

    }

    .cardContent h2{

    
    
        font-family: 'DM Sans', sans-serif;
        margin-top: 10px;
        font-size: 0.8rem;
        color: var(--blanco);
        text-decoration: none;
        letter-spacing: 2px;
        opacity: 0.5;
        transition: all 0.5s ease;
        
    }

    .cardContent .icon{
        font-size: 3rem;
        color: var(--blanco);
        opacity: 0.7;
        transition: all 0.5s ease;
        margin-bottom: 10px;
    }


    


    
}

@media (max-width: 425px){
    .main h1{
        font-size: 8vh;
    }

    .main h3{
        font-size: 2.5vh;
    }

    .main h5{
        font-size: 1.5vh;
    }
}


/*about*/

.about{
    background-color: var(--primario);
    padding: 5%;
}
.about a{

    transition: all 0.5s ease;
}

.about a:hover{
    text-decoration: underline;
    color: var(--secundario);
}

.aboutGrid{
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    max-width: 1000px;
    background-color: var(--primarioOscuro);
    border: solid 2px var(--secundario);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    padding: 5%;
}

.aboutHeader{

    width: 100%;
  height: 100%;
  display: flex;         
  align-items: center;   
  justify-content: center; 
    text-align: center;
}

.aboutHeader h1{
    justify-self: center;
    font-size: 5rem;
    letter-spacing: 2.5px;
}

.aboutImg{
    position: relative;
    display: flex;         
  align-items: center;   
  justify-content: center; 
    width: 100%;
  height: 100%;
}

.aboutImg img {
    position: relative;
    width: 180px;
    height: auto;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.02, 0.76, 0.58, 1);
}

.aboutImg img:hover{
    transform: scale(1.1);
    
}

.aboutImg img::after{
    content: '';
    position: absolute;
    background-image: conic-gradient(from var(--angle) at 50% 50%, #c31432, #659999, #c31432);
    width: 180px;
    height: 280px;
    border-radius: 50%;
    filter: blur(0px);
    z-index: 1;
    transform: translate(-44.75px); /*weird but idk, it just works*/
    opacity: 1;
    transition: all 0.3s ease;
    animation: 3s spin linear infinite;
    pointer-events: none;
}


@media (max-width: 768px){
    .aboutGrid{
        grid-template-columns: 1fr;
        padding: 5%;
        gap: 5vh;
    }

    .aboutHeader h1{
        font-size: 3rem;
    }

    .aboutText p{
        font-size: 0.8rem;
        text-align: justify;
        
    }
}

/* CV */ 


.CV {
    background-color: var(--primarioOscuro);
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardBorder{
    width: 350px;
    height: 500px;
    background-image: conic-gradient(from var(--angle) at 50% 50%, var(--secundario), #d312c3, var(--secundario));
    padding: .5%;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0, 0, 0, 1.45);
    animation: spin 2s infinite;
    
}
@keyframes spin{
    from {
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.cvCard{
    border-top: solid 3px var(--highlight);
    display: grid;
    gap: 25%;
    grid-template-columns: repeat(1, 1fr);
    padding: 10% ;  
    background-color: var(--primarioOscuro);
    border-radius: 10px;
    align-content: center;
    justify-items: center;
    height: 100%;
    
}

.cvImg{
  background-color: var(--highlight);
  border-top: solid 2px var(--highlight);
  box-shadow: 0 4px 2px -2px var(--shadow-s);
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 8%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.cvImg img{
    justify-self: center;
    align-self: center;
    width: 75%;
    border-radius: 50%;
    border: solid 1px var(--secundario);
    box-shadow: 0 7.5px 2px -2px var(--shadow-s);
}

.cvLink h2{
    font-family: 'DM Sans', sans-serif;
    text-decoration: underline;
}

.cvLink{
    background-color: var(--highlight);
    padding: 5%;
    border-radius: 10px;
    border-top: solid 2px var(--highlight);
    box-shadow: 0 4px 2px -2px var(--shadow-s);
    transition: all 0.2s ease-in;
    
}


.cvLink:hover{
    background-color: var(--primarioLighter);
    
}
.cvImg:hover {
    background-color: var(--primarioLighter);
}

.cardBorder:hover{
    transform: scale(1.1);
}

@media (max-width: 320px) {
    
    .CV{
        padding: 10%;
    }
    
    .cardBorder{
        width: 200px;
        height: 350px;
        background-image: conic-gradient(from var(--angle) at 50% 50%, var(--secundario), #d312c3, var(--secundario));
        padding:2%;
        border-radius: 15px;
        transition: all 0.3s cubic-bezier(0, 0, 0, 1.45);
    }
}

@media (max-width: 426px) {
    
    .CV{
        padding: 15%;
    }
    
    .cardBorder{
        width: 200px;
        height: 350px;
        background-image: conic-gradient(from var(--angle) at 50% 50%, var(--secundario), #d312c3, var(--secundario));
        padding:2%;
        border-radius: 15px;
        transition: all 0.3s cubic-bezier(0, 0, 0, 1.45);
    }
}

